*, *::before, *::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@-webkit-keyframes textFromLeft {
  0% {
    transform: translateX(-50%);
  }
  70% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes textFromLeft {
  0% {
    transform: translateX(-50%);
  }
  70% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes textFromRight {
  0% {
    transform: translateX(50%);
  }
  70% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes textFromRight {
  0% {
    transform: translateX(50%);
  }
  70% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes comeOut {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes comeOut {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
body {
  color: #1B2522;
}

.fullscreen-header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to right bottom, rgba(15, 99, 116, 0.5), rgba(213, 243, 250, 0.5)), url(/img/computer.jpg);
  background-size: cover;
  background-position-x: 55%;
  background-position-y: center;
}

.nav {
  background-color: #1B2522;
  padding: 0.4rem 0.4rem;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  text-align: center;
}
.nav__list {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  padding: 3px;
}
.nav__list-item {
  text-decoration: none;
  color: white;
  margin-left: 1rem;
  position: relative;
  padding: 3px;
}
.nav__list-item::before {
  content: "";
  background-color: #189db8;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  transform: scaleX(0);
  transition: 0.5s ease-in-out;
}
.nav__list-item:hover::before {
  transform: scaleX(1);
}

.section {
  margin: 1rem 0;
  padding: 1rem;
}
.section-title {
  text-align: center;
  margin: 1rem;
}

.aboutme-grid {
  display: grid;
  grid-template-columns: minmax(auto, 500px);
  row-gap: 2rem;
  padding: 0.5rem;
}
.aboutme-grid__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutme-grid__pic {
  width: 25%;
  margin: 1rem;
}
.aboutme-grid__text {
  font-size: 1.1rem;
  line-height: 1.5rem;
  text-align: center;
  vertical-align: center;
}

.portfolio-container {
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/img/main-bg.jpg);
  background-size: cover;
  height: 100vh;
}

.site-logo {
  height: 2.5rem;
}

.header-title {
  font-size: 2.5rem;
  color: white;
  -webkit-animation: textFromLeft 1s;
          animation: textFromLeft 1s;
}

.header-subtitle {
  font-size: 1.3rem;
  color: white;
  margin-top: 1rem;
  margin-bottom: 2rem;
  -webkit-animation: textFromRight 1s;
          animation: textFromRight 1s;
}

.btn {
  text-decoration: none;
  color: white;
  background-color: #189db8;
  border-radius: 9999px;
  padding: 0.25rem 1rem;
  outline: none;
  border: none;
}

.icon-down {
  position: absolute;
  bottom: 1rem;
  -webkit-animation: comeOut 1s alternate infinite;
          animation: comeOut 1s alternate infinite;
}

.portfolio-card {
  width: 60%;
  height: 60%;
  align-items: center;
  color: white;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem 1rem;
  border: 1px solid white;
  border-radius: 0.6rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
  background-image: rgba(255, 255, 255, 0.1);
}
.portfolio-card--project1:hover {
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9)), url(/img/prj1-bg.jpg);
  color: #1B2522;
}
.portfolio-card--project2:hover {
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9)), url(/img/prj2-bg.png);
  color: #1B2522;
}
.portfolio-card--project3:hover {
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9)), url(/img/prj3-bg.png);
  color: #1B2522;
}
.portfolio-card--project4:hover {
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9)), url(/img/prj4-bg.png);
  color: #1B2522;
}

.form {
  max-width: 900px;
  margin: 0 auto;
}

.form-label {
  color: #1B2522;
  font-weight: bold;
  display: block;
}

.form-input {
  width: 100%;
  margin-top: 0.3rem;
  margin-bottom: 0.8rem;
  outline: none;
  border: 1.5px solid #1B2522;
  border-radius: 0.3rem;
  padding: 0.5rem;
  color: inherit;
  resize: vertical;
  max-height: 150px;
}
.form-input:hover, .form-inputfocus {
  border-color: #189db8;
}

.btn-container {
  text-align: right;
  cursor: pointer;
}

.btn-square {
  font-size: 1.1rem;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  background-color: #189db8;
  color: white;
}/*# sourceMappingURL=main.css.map */